# Bytecode and virtual environment
__pycache__/
*/__pycache__/*
*.pyc
*.pyd
.venv/
venv/
*.egg-info/
dist/
build/

# Configuration and private data
.env
config.ini
config.yaml
*.log
*.sqlite
*.db

# IDE files
.idea/
.vscode/
*.swp
*.swo
*.bak

# OS files
.DS_Store
Thumbs.db

# Logs
.log
.logs

models/
data/
*.mp4
*.JPG

logs/

yolov5/